@{
    ViewBag.Title = "Family Planning Home";
}



<!DOCTYPE html>
<html>
<head>
    <title>Family Planning Home Page</title>
</head>
<body>
    <h1>Family Planning Home Page</h1>

    <p>Welcome to the family planning home page. Here you can learn about different family planning methods, track your menstrual cycle, set reminders for contraception, and access educational resources.</p>

    <h2>Get Started</h2>

    <ul>
        <li>@Html.ActionLink("Educational Resources", "Education", "FamilyPlanning")</li>
        <li>@Html.ActionLink("Menstrual Cycle Tracker", "MenstrualCycle", "FamilyPlanning")</li>
        <li>@Html.ActionLink("Contraception Reminders", "Contraception", "FamilyPlanning")</li>
    </ul>

    <h2>Learn More</h2>

    <p>Visit the following websites to learn more about family planning:</p>

    <ul>
        <li><a href="https://www.plannedparenthood.org/learn/birth-control">Planned Parenthood</a></li>
        <li><a href="https://www.cdc.gov/reproductivehealth/contraception/">Centers for Disease Control and Prevention</a></li>
        <li><a href="https://www.who.int/reproductivehealth/topics/family_planning/en/">World Health Organization</a></li>
    </ul>
</body>
</html>
